<% content_for :title, "Editing time entry" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing time entry</h1>

  <%= render "form", time_entry: @time_entry, timesheet: @timesheet %>

  <div class="mt-4">
    <%= link_to "Back to timesheet",
        timesheet_path(@timesheet),
        class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  </div>
</div>
