<% content_for :title, "New time entry" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New time entry</h1>

  <%= render "form", time_entry: @time_entry, timesheet: @timesheet %>

  <%= link_to "Back", timesheet_path(@timesheet) %>

</div>
